---
# tasks file for ansible-role-template
{% for task_name, details in cookiecutter.tasks | dictsort -%}
- name: {{ task_name }}
  {{ details.module_name }}: {{ details.free_form | default("") }}
  args:
{{ details.args | to_nice_yaml() | indent(4, true) }}
  become: {{ details.become | default("no") }}
  ignore_errors: "{{ ignore_errors | default('yes') }}"
{% endfor %}
